.border-bottom {
    border-bottom: 1px solid #dadad9;
    padding-bottom: 5px;
}

.border-right {
    border-right: 1px solid #dadad9;
    padding-right: 5px;
}

.student-number-input {
    position: relative;
    left: 0;
}