<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col 
        class="w-f-c border-right"
        [ngClass]="{'border-bottom': currentTab !== 'PERSONAL_INFORMATION'}">
        <ion-button 
          (click)="toggleView('PERSONAL_INFORMATION')" 
          fill="clear"
          color="medium"
          *ngIf="currentTab !== 'PERSONAL_INFORMATION'">
          Personal Information
        </ion-button>
        <ion-button 
          (click)="toggleView('PERSONAL_INFORMATION')" 
          fill="clear"
          *ngIf="currentTab === 'PERSONAL_INFORMATION'">
          Personal Information
        </ion-button>
      </ion-col>
      <ion-col 
        class="w-f-c"
        [ngClass]="{'border-bottom': currentTab !== 'ROTATIONS', 'border-right': currentTab === 'ROTATIONS'}">
        <ion-button 
          (click)="toggleView('ROTATIONS')" 
          fill="clear" 
          color="medium"
          *ngIf="currentTab !== 'ROTATIONS' && user.userType === UserType.STUDENT">
          Rotations
        </ion-button>
        <ion-button 
          (click)="toggleView('ROTATIONS')" 
          fill="clear"
          *ngIf="currentTab === 'ROTATIONS' && user.userType === UserType.STUDENT">
          Rotations
        </ion-button>
      </ion-col>
      <ion-col text-right class="border-bottom">
        <ion-button fill="clear" color="dark" (click)="dismiss()">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- START OF PERSONAL INFORMATION TAB (VIEW ONLY) -->
  <ion-grid padding fixed *ngIf="currentTab === 'PERSONAL_INFORMATION'">
    <ion-row *ngIf="user.userType === UserType.STUDENT">
      <ion-col size="4">
        <ion-label>
          <b>Student ID</b>
        </ion-label>
      </ion-col>
      <ion-col size="8">
        <ion-label>{{ user.studentId }}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <ion-label>
          <b>Name</b>
        </ion-label>
      </ion-col>
      <ion-col size="8">
        <ion-label>{{ user.firstName + ' ' + user.middleName + ' ' + user.lastName }}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <ion-label>
          <b>Email Address</b>
        </ion-label>
      </ion-col>
      <ion-col size="8">
        <ion-label>{{ user.email }}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <ion-label>
          <b>Mobile Number</b>
        </ion-label>
      </ion-col>
      <ion-col size="8">
        <ion-label>{{ user.mobileNumber ? user.mobileNumber : ' -- ' }}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="user.userType === UserType.STUDENT">
      <ion-col size="4">
        <ion-label>
          <b>Group #</b>
        </ion-label>
      </ion-col>
      <ion-col size="8">
        <ion-label>{{ user.group ? user.group.name : 'Unassigned' }}</ion-label>
      </ion-col>
    </ion-row>
    <ng-container>
      <ion-row class="p-t-10">
        <ion-col>
          <ion-label>
            <b *ngIf="user.userType === UserType.STUDENT">Person to contact in case of emergency</b>
            <b *ngIf="user.userType !== UserType.STUDENT">Other person in charge</b>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-label>
            <b>Name</b>
          </ion-label>
        </ion-col>
        <ion-col size="8">
          <ion-label>{{ user.contactPersonName ? user.contactPersonName : ' -- ' }}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-label>
            <b>Contact</b>
          </ion-label>
        </ion-col>
        <ion-col size="8">
          <ion-label>{{ user.contactPersonNumber ? user.contactPersonNumber : ' -- ' }}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-label>
            <b>Relationship</b>
          </ion-label>
        </ion-col>
        <ion-col size="8">
          <ion-label>{{ user.contactPersonRelationship ? user.contactPersonRelationship : ' -- ' }}</ion-label>
        </ion-col>
      </ion-row>
    </ng-container>
    <ion-row>
      <ion-col text-right>
        <ion-button (click)="updateUser()">
          Edit Information
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- END OF PERSONAL INFORMATION TAB (VIEW ONLY) -->

  <!-- START OF ROTATIONS TAB -->
  <!-- <ion-grid padding fixed *ngIf="currentTab === 'ROTATIONS'">
    <ion-row>
      <ion-col>
        <h1>ROTATIONS</h1>
      </ion-col>
    </ion-row>
  </ion-grid> -->
  <ion-grid fixed padding *ngIf="currentTab === 'ROTATIONS'">
    <ion-row class="border-bottom">
      <ion-col size="2">
        <b>Course</b>
      </ion-col>
      <ion-col size="2">
        <b>Start Date</b>
      </ion-col>
      <ion-col size="2">
        <b>End Date</b>
      </ion-col>
      <ion-col size="2">
        <b>Group #</b>
      </ion-col>
      <ion-col size="2">
        <b>Grade</b>
      </ion-col>
      <ion-col size="2">
        <b>Status</b>
      </ion-col>
    </ion-row>
    <ion-row 
      class="border-bottom log p-t-b-10" 
      align-items-center *ngFor="let assignment of assignments"
      (click)="viewAssignment(assignment)">
      <ion-col size="2">
        {{ assignment.field.name }}
      </ion-col>
      <ion-col size="2">
        {{ assignment.rotation.schedule.startDate | date: 'MMM dd, yyyy' }}
      </ion-col>
      <ion-col size="2">
        {{ assignment.rotation.schedule.endDate | date: 'MMM dd, yyyy' }}
      </ion-col>
      <ion-col size="2">
        {{ assignment.group.name }}
      </ion-col>
      <ion-col size="2">
        {{ assignment.grade ? assignment.grade : ' -- ' }}
      </ion-col>
      <ion-col size="2" *ngIf="assignment.isActive && assignment.isCompleted">
        Completed
      </ion-col>
      <ion-col size="2" *ngIf="assignment.isActive && !assignment.isCompleted">
        Incomplete
      </ion-col>
      <ion-col size="2" *ngIf="!assignment.isActive">
        Inactive
      </ion-col>
    </ion-row>
  </ion-grid>
      
  <!-- END OF ROTATIONS TAB -->
</ion-content>
