<ion-header>
  <ion-toolbar>
    <ion-title>admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-split-pane [when]="true" id="split-pane">
    <ion-menu>
      <ion-content>
        <ion-list lines="none">
          <ion-menu-toggle auto-hide="false">
            <ion-item a [routerLink]="['/admin/accounts']">
              <ion-label>Accounts</ion-label>
            </ion-item>      
            <ion-item a [routerLink]="['/admin/fields']">
              <ion-label>Fields</ion-label>
            </ion-item>
            <ion-item a [routerLink]="['/admin/field-groups']">
              <ion-label>Field Groups</ion-label>
            </ion-item>
            <ion-item a [routerLink]="['/admin/schedules']">
              <ion-label>Schedules</ion-label>
            </ion-item>
            <ion-item a [routerLink]="['/admin/schedules-overview']">
              <ion-label>Overview of Schedules</ion-label>
            </ion-item>
            <ion-item a [routerLink]="['/admin/group-assignments']">
              <ion-label>Group Assignments</ion-label>
            </ion-item>
            <ion-item a [routerLink]="['/admin/rotations']">
              <ion-label>Rotations</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
  
    <ion-nav main>
      <ion-router-outlet></ion-router-outlet>
    </ion-nav>
  </ion-split-pane>
</ion-content>
