<ion-content>
  <ion-grid fixed class="p-25">
    <ion-list>
      <ion-row class="m-b-15" align-items-center>
        <ion-col offset="9" size="3">
          <ion-item>
            <ion-label position="floating">Filter by status</ion-label>
            <ion-select 
              interface="popover"
              [value]="status"
              [(ngModel)]="status"
              (ionChange)="filterByStatus()">
              <ion-select-option [value]="PENDING">Pending</ion-select-option>
              <ion-select-option [value]="APPROVED">Approved</ion-select-option>
              <ion-select-option [value]="DECLINED">Declined</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-list>
    <ion-row class="border-bottom">
      <ion-col size="3">
        <b>Name</b>
      </ion-col>
      <ion-col size="3">
        <b>Email</b>
      </ion-col>
      <ion-col size="2">
        <b>Student ID</b>
      </ion-col>
      <ion-col size="2">
        <b>Group #</b>
      </ion-col>
      <ion-col size="2">
        <b>Status</b>
      </ion-col>
    </ion-row>
    <ion-row  
      class="border-bottom log p-t-b-10"
      *ngFor="let request of filteredRequests | paginate: { itemsPerPage: 20, currentPage: p }"
      (click)="viewRequest(request)">
      <ion-col size="3">
        {{ request.student.firstName + ' ' + request.student.middleName + request.student.lastName }}
      </ion-col>
      <ion-col size="3">
        {{ request.student.email }}
      </ion-col>
      <ion-col size="2">
        {{ request.student.studentId }}
      </ion-col>
      <ion-col size="2">
        {{ request.student.group.name }}
      </ion-col>
      <ion-col size="2" *ngIf="!request.isPending && request.isApproved">
        Approved
      </ion-col>
      <ion-col size="2" *ngIf="!request.isPending && !request.isApproved">
        Declined
      </ion-col>
      <ion-col size="2" *ngIf="request.isPending">
        Pending
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
  