<ion-content>
  <ion-grid fixed class="p-25">
    <ion-row class="m-b-15">
      <ion-col>
        <ion-button (click)="createSchedule()">
          Add new schedule
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="border-bottom">
      <ion-col size="5">
        <b>Start Date</b>
      </ion-col>
      <ion-col size="5">
        <b>End Date</b>
      </ion-col>
      <ion-col size="2">
        <b>Status</b>
      </ion-col>
    </ion-row>
    <ion-row 
      class="border-bottom log p-t-b-10" 
      align-items-center *ngFor="let sched of schedules | paginate: { itemsPerPage: 20, currentPage: p }"
      (click)="viewSchedule(sched)">
      <ion-col size="5">
        {{ sched.startDate | date: 'MMM dd, yyyy' }}
      </ion-col>
      <ion-col size="5">
        {{ sched.endDate | date: 'MMM dd, yyyy' }}
      </ion-col>
      <ion-col size="2" *ngIf="sched.isActive">
        Active
      </ion-col>
      <ion-col size="2" *ngIf="!sched.isActive">
        Inactive
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
  