<ion-content>
  <ion-grid fixed class="p-25">
    <ion-row>
      <ion-col>
        <h3>Schedule Request Information</h3>
      </ion-col>
      <ion-col text-right>
        <ion-button fill="clear" color="dark" (click)="dismiss()">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="border-bottom">
      <ion-col size="3">
        <b>Course</b>
      </ion-col>
      <ion-col size="3">
        <b>Start Date</b>
      </ion-col>
      <ion-col size="3">
        <b>End Date</b>
      </ion-col>
      <ion-col size="3">
        <b>Group</b>
      </ion-col>
    </ion-row>
    <ion-row class="border-bottom p-t-b-10">
      <ion-col>
        <b>Current Schedule</b>
      </ion-col>
    </ion-row>
    <ion-row class="border-bottom p-t-b-10" *ngFor="let assignment of request.oldAssignments">
      <ion-col size="3">
        {{ assignment.field.name }}
      </ion-col>
      <ion-col size="3">
        {{ assignment.rotation.schedule.startDate | date: 'MMM dd, yyyy' }}
      </ion-col>
      <ion-col size="3">
        {{ assignment.rotation.schedule.endDate | date: 'MMM dd, yyyy' }}
      </ion-col>
      <ion-col size="3">
        {{ assignment.group.name }}
      </ion-col>
    </ion-row>
    <ion-row class="border-bottom p-t-b-10">
      <ion-col>
        <b>Proposed Schedule</b>
      </ion-col>
    </ion-row>
    <ion-row class="border-bottom p-t-b-10" *ngFor="let assignment of request.newAssignments">
      <ion-col size="3">
        {{ assignment.field.name }}
      </ion-col>
      <ion-col size="3">
        {{ assignment.rotation.schedule.startDate | date: 'MMM dd, yyyy' }}
      </ion-col>
      <ion-col size="3">
        {{ assignment.rotation.schedule.endDate | date: 'MMM dd, yyyy' }}
      </ion-col>
      <ion-col size="3">
        {{ assignment.group.name }}
      </ion-col>
    </ion-row>
    <ion-row class="p-t-15">
      <ion-col size="2">
        <ion-label>
          <b>Message:</b>
        </ion-label>
      </ion-col>
      <ion-col size="10">
        <ion-label>{{ request.message }}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="p-t-15">
      <ion-col size="2">
        <ion-label>
          <b>Status:</b>
        </ion-label>
      </ion-col>
      <ion-col size="10" *ngIf="!request.isPending && request.isApproved">
        Approved
      </ion-col>
      <ion-col size="10" *ngIf="!request.isPending && !request.isApproved">
        Declined
      </ion-col>
      <ion-col size="10" *ngIf="request.isPending">
        Pending
      </ion-col>
    </ion-row>
    <ion-row class="p-t-15">
      <ion-col size="2">
        <ion-label>
          <b>Admin Remarks:</b>
        </ion-label>
      </ion-col>
      <ion-col size="10">
        <ion-label>{{ request.remarks ? request.remarks : ' -- ' }}</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
  