<ion-content padding>
  <ion-grid fixed>
    <form [formGroup]="rotationForm">
      <ion-list>
        <ion-row>
          <ion-col>
            <h3>Add new record</h3>
          </ion-col>
          <ion-col text-right>
            <ion-button fill="clear" color="dark" (click)="dismiss()">
              <ion-icon name="close"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Schedules</ion-label>
              <ion-select 
                interface="action-sheet" 
                placeholder="Select Schedule"
                formControlName="schedule">
                <ion-select-option [value]="sched._id" *ngFor="let sched of schedules">
                  {{ sched.startDate | date: 'MMM dd, yyyy' }} - {{ sched.endDate | date: 'MMM dd, yyyy' }}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Rotation Type</ion-label>
              <ion-select 
                interface="popover" 
                placeholder="Select Rotation Type"
                [value]="rotationType"
                [(ngModel)]="rotationType"
                formControlName="rotationType"
                (ionChange)="resolveRotationType()">
                <ion-select-option [value]="ROTATION_TYPE_VALUES[u]" *ngFor="let u of ROTATION_TYPE_KEYS">
                  {{ ROTATION_TYPE_VALUES[u] }}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row
          class="field-input" 
          [ngClass]="{'input-hidden': rotationType !== ROTATION_TYPE_VALUES.Single}">
          <ion-col>
            <ion-item>
              <ion-label position="floating">Course</ion-label>
              <ion-select 
                interface="action-sheet" 
                placeholder="Select Course"
                formControlName="field">
                <ion-select-option [value]="field._id" *ngFor="let field of fields">
                  {{ field.name }}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <!-- <ion-row *ngIf="rotationType === ROTATION_TYPE_VALUES.Single && fieldGroupsDisplay.length === 0">
          <ion-col>
            <ion-label class="error">Please create a field for this type</ion-label>
          </ion-col>
        </ion-row> -->
        <ion-row
          class="field-input" 
          [ngClass]="{'input-hidden': rotationType === ROTATION_TYPE_VALUES.Single}">
          <ion-col>
            <ion-item>
              <ion-label position="floating">Course Group</ion-label>
              <ion-select 
                interface="action-sheet" 
                placeholder="Select Course Group"
                formControlName="fieldGroup">
                <ion-select-option [value]="fg._id" *ngFor="let fg of fieldGroupsDisplay">
                  {{ fg.name }}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <!-- <ion-row *ngIf="rotationType !== ROTATION_TYPE_VALUES.Single && fieldGroupsDisplay.length === 0">
          <ion-col>
            <ion-label class="error">Please create a field group for this type</ion-label>
          </ion-col>
        </ion-row> -->
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Group</ion-label>
              <ion-select 
                interface="action-sheet" 
                placeholder="Select Group"
                formControlName="group">
                <ng-container *ngFor="let group of groups">
                  <ion-select-option [value]="group._id">
                    {{ group.name }}
                  </ion-select-option>
                </ng-container>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row text-right>
          <ion-col size="12">
            <ion-button color="light" (click)="dismiss()">
              <ion-label>Cancel</ion-label>
            </ion-button>
            <ion-button [disabled]="rotationForm.invalid || callInProgress" (click)="createFieldGroup()">
              <ion-label>Save</ion-label>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-list>
    </form>
  </ion-grid>
</ion-content>
  