<ion-content>
  <ion-grid fixed class="p-25">
    <ion-row class="border-bottom">
      <ion-col size="4">
        <b>Email</b>
      </ion-col>
      <ion-col size="4">
        <b>Date Requested</b>
      </ion-col>
    </ion-row>
    <ion-row  
      class="border-bottom p-t-b-10"
      *ngFor="let request of requests | paginate: { itemsPerPage: 20, currentPage: p }"
      align-items-center>
      <ion-col size="4">
        {{ request.email }}
      </ion-col>
      <ion-col size="4">
        {{ request.dateCreated | date: 'MMM dd, yyyy' }}
      </ion-col>
      <ion-col size="4" text-center *ngIf="!request.isApproved">
        <ion-button (click)="approve(request)">Approve</ion-button>
      </ion-col>
      <ion-col size="4" text-center *ngIf="request.isApproved">
        --
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>