<ion-content>
  <ion-grid fixed class="p-25">
    <ion-row class="border-bottom">
      <ion-col size="4">
        <b>Email</b>
      </ion-col>
      <ion-col size="4">
        <b>Status</b>
      </ion-col>
    </ion-row>
    <ion-row  
      class="border-bottom p-t-b-10"
      *ngFor="let request of requests" align-items-center>
      <ion-col size="4">
        {{ request.student.email }}
      </ion-col>
      <ion-col size="4" *ngIf="!request.isPending && request.isApproved">
        Approved
      </ion-col>
      <ion-col size="4" *ngIf="!request.isPending && !request.isApproved">
        Declined
      </ion-col>
      <ion-col size="4" *ngIf="request.isPending">
        Pending
      </ion-col>
      <ion-col size="4" text-center *ngIf="!request.isPending">
        --
      </ion-col>
      <ion-col size="4" text-center *ngIf="request.isPending">
        <ion-button (click)="approve(request)">Approve</ion-button>
        <ion-button color="danger" (click)="decline(request)">Decline</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
  