<ion-content>
    <div style="width: 100%; overflow-x: auto; white-space: nowrap;">
      <table class="m-25 p-25 table table-striped table-hover" id="groupMatrix">
        <thead class="thead-dark">
            <tr>
                <th></th>
                <th class="text-center header">Jun 16 - <br />Jul 15</th>
                <th class="text-center header">Jul 16 - <br />Aug 15</th>
                <th class="text-center header">Aug 16 - <br />Sep 15</th>
                <th class="text-center header">Sep 16 - <br />Oct 15</th>
                <th class="text-center header">Oct 16 - <br />Nov 15</th>
                <th class="text-center header">Nov 16 - <br />Dec 15</th>
                <th class="text-center header">Dec 16 - <br />Jan 15</th>
                <th class="text-center header">Jan 16 - <br />Feb 14</th>
                <th class="text-center header">Feb 15 - <br />Mar 15</th>
                <th class="text-center header">Mar 16 - <br />Apr 15</th>
                <th class="text-center header">Apr 16 - <br />May 15</th>
                <th class="text-center header">May 16 - <br />Jun 15</th>
          </tr>
        </thead>
        <tbody>
            <tr id="1">
                <th scope="row">Medicine 1</th>
                <td class="text-center grp1">1</td>
                <td class="text-center grp2">2</td>
                <td class="text-center grp3">3</td>
                <td class="text-center grp4">4</td>
                <td class="text-center grp5">5</td>
                <td class="text-center grp6">6</td>
                <td class="text-center grp7">7</td>
                <td class="text-center grp8">8</td>
                <td class="text-center grp9">9</td>
                <td class="text-center grp10">10</td>
                <td class="text-center grp11">11</td>
                <td class="text-center grp12">12</td>
            </tr>
            <tr id="2">
                <th scope="row">Medicine 2</th>
                <td class="text-center grp2">2</td>
                <td class="text-center grp1">1</td>
                <td class="text-center grp4">4</td>
                <td class="text-center grp3">3</td>
                <td class="text-center grp6">6</td>
                <td class="text-center grp5">5</td>
                <td class="text-center grp8">8</td>
                <td class="text-center grp7">7</td>
                <td class="text-center grp10">10</td>
                <td class="text-center grp9">9</td>
                <td class="text-center grp12">12</td>
                <td class="text-center grp11">11</td>
            </tr>
            <tr id="3">
                <th scope="row">Neuro/Psych<br><small>TEST1</small></th>
                <td class="text-center grp3">3</td>
                <td class="text-center grp4">4</td>
                <td class="text-center grp5">5</td>
                <td class="text-center grp6">6</td>
                <td class="text-center grp7">7</td>
                <td class="text-center grp8">8</td>
                <td class="text-center grp9">9</td>
                <td class="text-center grp10">10</td>
                <td class="text-center grp11">11</td>
                <td class="text-center grp12">12</td>
                <td class="text-center grp1">1</td>
                <td class="text-center grp2">2</td>
            </tr>
            <tr id="4">
                <th scope="row">Derma<br><small>TEST1</small></th>
                <td class="text-center grp3">3</td>
                <td class="text-center grp4">4</td>
                <td class="text-center grp5">5</td>
                <td class="text-center grp6">6</td>
                <td class="text-center grp7">7</td>
                <td class="text-center grp8">8</td>
                <td class="text-center grp9">9</td>
                <td class="text-center grp10">10</td>
                <td class="text-center grp11">11</td>
                <td class="text-center grp12">12</td>
                <td class="text-center grp1">1</td>
                <td class="text-center grp2">2</td>
            </tr>
            <tr id="5">
                <th scope="row">Otorhino</th>
                <td class="text-center grp4">4</td>
                <td class="text-center grp3">3</td>
                <td class="text-center grp6">6</td>
                <td class="text-center grp5">5</td>
                <td class="text-center grp8">8</td>
                <td class="text-center grp7">7</td>
                <td class="text-center grp10">10</td>
                <td class="text-center grp9">9</td>
                <td class="text-center grp12">12</td>
                <td class="text-center grp11">11</td>
                <td class="text-center grp2">2</td>
                <td class="text-center grp1">1</td>
            </tr>
            <tr id="6">
                <th scope="row">Ophth</th>
                <td class="text-center grp4">4</td>
                <td class="text-center grp3">3</td>
                <td class="text-center grp6">6</td>
                <td class="text-center grp5">5</td>
                <td class="text-center grp8">8</td>
                <td class="text-center grp7">7</td>
                <td class="text-center grp10">10</td>
                <td class="text-center grp9">9</td>
                <td class="text-center grp12">12</td>
                <td class="text-center grp11">11</td>
                <td class="text-center grp2">2</td>
                <td class="text-center grp1">1</td>
            </tr>
            <tr id="7">
                <th scope="row">Leg Med</th>
                <td class="text-center grp4">4</td>
                <td class="text-center grp3">3</td>
                <td class="text-center grp6">6</td>
                <td class="text-center grp5">5</td>
                <td class="text-center grp8">8</td>
                <td class="text-center grp7">7</td>
                <td class="text-center grp10">10</td>
                <td class="text-center grp9">9</td>
                <td class="text-center grp12">12</td>
                <td class="text-center grp11">11</td>
                <td class="text-center grp2">2</td>
                <td class="text-center grp1">1</td>
            </tr>
            <tr id="8">
                <th scope="row">Infectious</th>
                <td class="text-center grp4">4</td>
                <td class="text-center grp3">3</td>
                <td class="text-center grp6">6</td>
                <td class="text-center grp5">5</td>
                <td class="text-center grp8">8</td>
                <td class="text-center grp7">7</td>
                <td class="text-center grp10">10</td>
                <td class="text-center grp9">9</td>
                <td class="text-center grp12">12</td>
                <td class="text-center grp11">11</td>
                <td class="text-center grp2">2</td>
                <td class="text-center grp1">1</td>
            </tr>
            <tr id="9">
                <th scope="row">Surgery 1</th>
                <td class="text-center grp5">5</td>
                <td class="text-center grp6">6</td>
                <td class="text-center grp7">7</td>
                <td class="text-center grp8">8</td>
                <td class="text-center grp9">9</td>
                <td class="text-center grp10">10</td>
                <td class="text-center grp11">11</td>
                <td class="text-center grp12">12</td>
                <td class="text-center grp1">1</td>
                <td class="text-center grp2">2</td>
                <td class="text-center grp3">3</td>
                <td class="text-center grp4">4</td>
            </tr>
            <tr id="10">
                <th scope="row">Surgery 2</th>
                <td class="text-center grp6">6</td>
                <td class="text-center grp5">5</td>
                <td class="text-center grp8">8</td>
                <td class="text-center grp7">7</td>
                <td class="text-center grp10">10</td>
                <td class="text-center grp9">9</td>
                <td class="text-center grp12">12</td>
                <td class="text-center grp11">11</td>
                <td class="text-center grp2">2</td>
                <td class="text-center grp1">1</td>
                <td class="text-center grp4">4</td>
                <td class="text-center grp3">3</td>
            </tr>
            <tr id="11">
                <th scope="row">OB</th>
                <td class="text-center grp7">7</td>
                <td class="text-center grp8">8</td>
                <td class="text-center grp9">9</td>
                <td class="text-center grp10">10</td>
                <td class="text-center grp11">11</td>
                <td class="text-center grp12">12</td>
                <td class="text-center grp1">1</td>
                <td class="text-center grp2">2</td>
                <td class="text-center grp3">3</td>
                <td class="text-center grp4">4</td>
                <td class="text-center grp5">5</td>
                <td class="text-center grp6">6</td>
            </tr>
            <tr id="12">
                <th scope="row">Gy/Fab</th>
                <td class="text-center grp8">8</td>
                <td class="text-center grp7">7</td>
                <td class="text-center grp10">10</td>
                <td class="text-center grp9">9</td>
                <td class="text-center grp12">12</td>
                <td class="text-center grp11">11</td>
                <td class="text-center grp2">2</td>
                <td class="text-center grp1">1</td>
                <td class="text-center grp4">4</td>
                <td class="text-center grp3">3</td>
                <td class="text-center grp6">6</td>
                <td class="text-center grp5">5</td>
            </tr>
            <tr id="13">
                <th scope="row">Pediatrics 1</th>
                <td class="text-center grp9">9</td>
                <td class="text-center grp10">10</td>
                <td class="text-center grp11">11</td>
                <td class="text-center grp12">12</td>
                <td class="text-center grp1">1</td>
                <td class="text-center grp2">2</td>
                <td class="text-center grp3">3</td>
                <td class="text-center grp4">4</td>
                <td class="text-center grp5">5</td>
                <td class="text-center grp6">6</td>
                <td class="text-center grp7">7</td>
                <td class="text-center grp8">8</td>
            </tr>
            <tr id="14">
                <th scope="row">Pediatrics 2</th>
                <td class="text-center grp10">10</td>
                <td class="text-center grp9">9</td>
                <td class="text-center grp12">12</td>
                <td class="text-center grp11">11</td>
                <td class="text-center grp2">2</td>
                <td class="text-center grp1">1</td>
                <td class="text-center grp4">4</td>
                <td class="text-center grp3">3</td>
                <td class="text-center grp6">6</td>
                <td class="text-center grp5">5</td>
                <td class="text-center grp8">8</td>
                <td class="text-center grp7">7</td>
            </tr>
            <tr id="15">
                <th scope="row">Com-Med</th>
                <td class="text-center grp11">11</td>
                <td class="text-center grp12">12</td>
                <td class="text-center grp1">1</td>
                <td class="text-center grp2">2</td>
                <td class="text-center grp3">3</td>
                <td class="text-center grp4">4</td>
                <td class="text-center grp5">5</td>
                <td class="text-center grp6">6</td>
                <td class="text-center grp7">7</td>
                <td class="text-center grp8">8</td>
                <td class="text-center grp9">9</td>
                <td class="text-center grp10">10</td>
            </tr>
            <tr id="16">
                <th scope="row">Special - Neuro<br><small>SP_ELEC</small></th>
                <td class="text-center grp12">12</td>
                <td class="text-center grp11">11</td>
                <td class="text-center grp2">2</td>
                <td class="text-center grp1">1</td>
                <td class="text-center grp4">4</td>
                <td class="text-center grp3">3</td>
                <td class="text-center grp6">6</td>
                <td class="text-center grp5">5</td>
                <td class="text-center grp8">8</td>
                <td class="text-center grp7">7</td>
                <td class="text-center grp10">10</td>
                <td class="text-center grp9">9</td>
            </tr>
            <tr id="17">
                <th scope="row">Special - Psych<br><small>SP_ELEC</small></th>
                <td class="text-center grp12">12</td>
                <td class="text-center grp11">11</td>
                <td class="text-center grp2">2</td>
                <td class="text-center grp1">1</td>
                <td class="text-center grp4">4</td>
                <td class="text-center grp3">3</td>
                <td class="text-center grp6">6</td>
                <td class="text-center grp5">5</td>
                <td class="text-center grp8">8</td>
                <td class="text-center grp7">7</td>
                <td class="text-center grp10">10</td>
                <td class="text-center grp9">9</td>
            </tr>
            <tr id="18">
                <th scope="row">Special - Rehab<br><small>SP_ELEC</small></th>
                <td class="text-center grp12">12</td>
                <td class="text-center grp11">11</td>
                <td class="text-center grp2">2</td>
                <td class="text-center grp1">1</td>
                <td class="text-center grp4">4</td>
                <td class="text-center grp3">3</td>
                <td class="text-center grp6">6</td>
                <td class="text-center grp5">5</td>
                <td class="text-center grp8">8</td>
                <td class="text-center grp7">7</td>
                <td class="text-center grp10">10</td>
                <td class="text-center grp9">9</td>
            </tr>
            <tr id="19">
                <th scope="row">Special - Radio<br><small>SP_ELEC</small></th>
                <td class="text-center grp12">12</td>
                <td class="text-center grp11">11</td>
                <td class="text-center grp2">2</td>
                <td class="text-center grp1">1</td>
                <td class="text-center grp4">4</td>
                <td class="text-center grp3">3</td>
                <td class="text-center grp6">6</td>
                <td class="text-center grp5">5</td>
                <td class="text-center grp8">8</td>
                <td class="text-center grp7">7</td>
                <td class="text-center grp10">10</td>
                <td class="text-center grp9">9</td>
            </tr>
        </tbody>
      </table>
    </div>
  </ion-content>
  