<ion-content padding>
  <ion-grid fixed>
    <form [formGroup]="requestForm">
      <ion-list>
        <ion-row>
          <ion-col>
            <h3>Add new request</h3>
          </ion-col>
          <ion-col text-right>
            <ion-button fill="clear" color="dark" (click)="dismiss()">
              <ion-icon name="close"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Current Schedule</ion-label>
              <ion-select 
                interface="action-sheet" 
                placeholder="Select Schedule"
                [(ngModel)]="selectedCurrentRotation"
                formControlName="assignment"
                [disabled]="assignmentRotations.length === 0"
                (ionChange)="resolveCurrentRotation()">
                <ion-select-option [value]="rotation" *ngFor="let rotation of assignmentRotations">
                  {{ rotation.schedule.startDate | date: 'MMM dd, yyyy' }} - {{ rotation.schedule.endDate | date: 'MMM dd, yyyy' }} / {{ rotation.group.name }} / {{ rotation.field ? rotation.field.name : rotation.fieldGroup.name }}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Proposed Schedule</ion-label>
              <ion-select 
                interface="action-sheet" 
                placeholder="Proposed Schedule"
                [(ngModel)]="selectedProposedRotation"
                formControlName="rotation"
                (ionChange)="resolveSelectedRotation()"
                [disabled]="!selectedCurrentRotation || rotations.length === 0">
                <ng-container *ngFor="let rotation of availableRotations">
                  <ion-select-option [value]="rotation" *ngIf="rotation._id !== selectedCurrentRotation._id">
                    {{ rotation.schedule.startDate | date: 'MMM dd, yyyy' }} - {{ rotation.schedule.endDate | date: 'MMM dd, yyyy' }} / {{ rotation.group.name }} / {{ rotation.field ? rotation.field.name : rotation.fieldGroup.name }}
                  </ion-select-option>
                </ng-container>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Message</ion-label>
              <ion-textarea 
                placeholder="Enter message"
                [(ngModel)]="message"
                formControlName="message"></ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3">
            <ion-button fill="clear" (click)="viewChanges()" *ngIf="newAssignments.length > 0">
              <ion-label>View Changes</ion-label>
            </ion-button>
          </ion-col>
          <ion-col size="9" text-right>
            <ion-button color="light" (click)="dismiss()">
              <ion-label>Cancel</ion-label>
            </ion-button>
            <ion-button [disabled]="requestForm.invalid || callInProgress" (click)="createRequest()">
              <ion-label>Send</ion-label>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-list>
    </form>
  </ion-grid>
</ion-content>
  