<ion-content>
  <ion-grid padding fixed>
    <ion-row>
      <ion-col>
        <h3>Update rotation</h3>
      </ion-col>
      <ion-col text-right>
        <ion-button fill="clear" color="dark" (click)="dismiss()">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="border-bottom">
      <ion-col size="2">
        <b>Course</b>
      </ion-col>
      <ion-col size="3">
        <b>Schedule</b>
      </ion-col>
      <ion-col size="3">
        <b>RCA</b>
      </ion-col>
      <ion-col size="2">
        <b>Group #</b>
      </ion-col>
      <ion-col size="2">
        <b>Student Count</b>
      </ion-col>
    </ion-row>
    <ion-row 
      class="border-bottom p-t-b-10" 
      align-items-center>
      <ion-col size="2">
        {{ getFieldName(rotation) }}
      </ion-col>
      <ion-col size="3">
        {{ rotation.schedule.startDate | date: 'MMM dd, yyyy' }} - {{ rotation.schedule.endDate | date: 'MMM dd, yyyy' }}
      </ion-col>
      <ion-col size="3">
        {{ getAdminName(rotation) }}
      </ion-col>
      <ion-col size="2">
        {{ rotation.group.name }}
      </ion-col>
      <ion-col size="2">
        {{ rotation.studentCount }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Active</ion-label>
          <ion-checkbox slot="start" [(ngModel)]="isActive"></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row text-right>
      <ion-col size="12">
        <ion-button color="light" (click)="dismiss()">
          <ion-label>Cancel</ion-label>
        </ion-button>
        <ion-button [disabled]="callInProgress" (click)="updateRotation()">
          <ion-label>Save</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
  