.logo {
	width: 55px;
    height: 55px;
    margin-left: 10px;
}

.profile-text {
	color: #424242;
	font-weight: 600;
}

ion-menu-toggle > ion-item {
	margin-top: 10px !important;
	margin-bottom: 10px !important;
	border-bottom: 0px !important;
}

ion-split-pane > ion-menu {
	max-width: 250px !important;
	min-width: 250px !important;
}

ion-item {
	margin: 5px !important;
	border-radius: 5px !important;

	ion-icon {
		margin-right: 20px !important;
	}
}

ion-item:hover {
	background-color: #fef1e4 !important;
	color: #fb8c01 !important;
}

ion-item[active] {
	background-color: #fef1e4 !important;
	color: #fb8c01 !important;
}
  