<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid fixed class="h-100">
    <form [formGroup]="loginForm" (keyup.enter)="login()">
      <ion-row align-items-center class="h-100">
        <ion-col size="4" offset="4">
          <ion-list>
            <ion-grid fixed class="form-container">
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-input 
                      placeholder="Username"
                      formControlName="username"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-input 
                      placeholder="Password" 
                      type="password" 
                      formControlName="password"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col text-center>
                  <ion-text *ngIf="isUnauthorized" color="danger">
                    Username or Password is incorrect.
                  </ion-text>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col text-right>
                  <ion-button (click)="login()" [disabled]="loginForm.invalid || callInProgress">Login</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-list>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
