<ion-content padding>
  <ion-grid fixed>
    <form [formGroup]="fieldGroupForm">
      <ion-list>
        <ion-row>
          <ion-col>
            <h3>Edit field group</h3>
          </ion-col>
          <ion-col text-right>
            <ion-button fill="clear" color="dark" (click)="dismiss()">
              <ion-icon name="close"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Fields</ion-label>
              <ion-select 
                interface="popover" 
                placeholder="Select Fields"
                formControlName="fields"
                multiple
                [value]="selectedFields">
                <ion-select-option [value]="f.id" *ngFor="let f of fields">
                  {{ f.name }}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row text-right>
          <ion-col size="12">
            <ion-button color="light" (click)="dismiss()">
              <ion-label>Cancel</ion-label>
            </ion-button>
            <ion-button [disabled]="fieldGroupForm.invalid || callInProgress" (click)="updateFieldGroup()">
              <ion-label>Save</ion-label>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-list>
    </form>
  </ion-grid>
</ion-content>
  