<ion-content>
  <ion-grid fixed class="p-25">
    <ion-row>
      <ion-col offset="3" class="w-f-c" text-right>
        <ion-select 
          interface="popover"
          [(ngModel)]="currentGroup"
          (ionChange)="resolveGroup()">
          <ion-select-option value="Unassigned">
            Unassigned
          </ion-select-option>
          <ion-select-option [value]="g" *ngFor="let g of groups">
            {{ g.name }}
          </ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        <ion-grid class="count-container">
          <ion-row class="border-bottom">
            <ion-col size="7">
              <b>Group #</b>
            </ion-col>
            <ion-col size="5">
              <b>Students</b>
            </ion-col>
          </ion-row>
          <ion-row 
            class="border-bottom p-t-b-10" 
            align-items-center>
            <ion-col size="8">
              Unassigned
            </ion-col>
            <ion-col size="4">
              {{ unassignedStudents.length }}
            </ion-col>
          </ion-row>
          <ion-row 
            class="border-bottom p-t-b-10" 
            align-items-center *ngFor="let g of groups">
            <ion-col size="8">
              {{ g.name }}
            </ion-col>
            <ion-col size="4">
              {{ g.students.length }}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col size="9">
        <ion-grid class="u-container">
          <ion-row class="border-bottom">
            <ion-col size="3">
              <b>Student ID</b>
            </ion-col>
            <ion-col size="6">
              <b>Name</b>
            </ion-col>
            <ion-col size="3">
              <b>Group #</b>
            </ion-col>
          </ion-row>
          <ng-container *ngIf="currentGroup === 'Unassigned'">
            <ion-row 
              class="border-bottom log p-t-b-10" 
              align-items-center 
              *ngFor="let student of unassignedStudents; let i = index">
              <ion-col size="3">
                {{ student.studentId }}
              </ion-col>
              <ion-col size="6">
                {{ student.firstName + ' ' + student.lastName }}
              </ion-col>
              <ion-col size="3">
                <ion-select 
                  interface="popover"
                  (ionChange)="setGroup(student, $event)">
                  <ion-select-option selected="true" value="Unassigned">
                    Unassigned
                  </ion-select-option>
                  <ion-select-option [value]="g" *ngFor="let g of groups">
                    {{ g.name }}
                  </ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>
          </ng-container>
          <ng-container *ngIf="currentGroup !== 'Unassigned'">
            <ion-row 
              class="border-bottom log p-t-b-10" 
              align-items-center 
              *ngFor="let student of currentGroup?.students; let i = index">
              <ion-col size="3">
                {{ student.studentId }}
              </ion-col>
              <ion-col size="6">
                {{ student.firstName + ' ' + student.lastName }}
              </ion-col>
              <ion-col size="3">
                <ion-select 
                  interface="popover"
                  (ionChange)="setGroup(student, $event)">
                  <ion-select-option [selected]="g._id === currentGroup._id" [value]="g" *ngFor="let g of groups">
                    {{ g.name }}
                  </ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>
          </ng-container>
          <ion-row>
            <ion-col text-right>
              <ion-button 
                (click)="updateGroups()" 
                [disabled]="currentGroup === 'Unassigned' && unassignedStudents.length === 0 || currentGroup !== 'Unassigned' && currentGroup?.students.length === 0 || callInProgress">
                Update Groups
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
