<ion-content padding>
  <ion-grid fixed>
    <form [formGroup]="accountForm">
      <ion-list>
        <ion-row>
          <ion-col>
            <h3>Update profile information</h3>
          </ion-col>
          <ion-col text-right>
            <ion-button fill="clear" color="dark" (click)="dismiss()">
              <ion-icon name="close"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Student ID</ion-label>
              <ion-input formControlName="studentId" disabled="true"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">First Name</ion-label>
              <ion-input formControlName="firstName"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Middle Name</ion-label>
              <ion-input formControlName="middleName"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Last Name</ion-label>
              <ion-input formControlName="lastName"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input formControlName="email" type="email"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Mobile Number</ion-label>
              <ion-input formControlName="mobileNumber"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="m-t-20">
          <ion-col size="2">
            <b>Group: </b>
          </ion-col>
          <ion-col size="10">
            {{ currentUser?.group ? currentUser?.group?.name : ' -- ' }}
          </ion-col>
        </ion-row>
        <ion-row class="m-t-20">
          <ion-col>
            <b>Person to contact in case of emergency</b>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Name</ion-label>
              <ion-input formControlName="contactPersonName"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Contact Number</ion-label>
              <ion-input formControlName="contactPersonNumber"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Relationship</ion-label>
              <ion-input formControlName="contactPersonRelationship"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="m-t-20">
          <ion-col>
            <ion-button fill="clear" (click)="updatePassword()">Change Password</ion-button>
          </ion-col>
        </ion-row>
        <ion-row text-right>
          <ion-col size="12">
            <ion-button color="light" (click)="dismiss()">
              <ion-label>Cancel</ion-label>
            </ion-button>
            <ion-button [disabled]="accountForm.invalid || callInProgress" (click)="updateProfile()">
              <ion-label>Save</ion-label>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-list>
    </form>
  </ion-grid>
</ion-content>
  